*,
*::before,
*::after {
	box-sizing: border-box;
	/* outline: solid 1px; */
}

body {
	font-family: Bruno Ace SC, serif;
	line-height: 1.5;
}

a {
	text-decoration: none;
	display: inline-block;
	color: inherit;
}

img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

.container {
	width: 1296px;
	margin: 0 auto;
}

/* layout 每個頁面出現的共通版型*/
.header {
	background: #000;
	color: #D1D1D1;
	padding: 40px 0;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-list:hover {
	background: rgb(213, 164, 103);
}

.footer {
	background: #000;
	height: 104px;
	color: white;
	padding: 40px 0;
	text-align: center;
}

/* component 元件*/
.btn {
	padding: 12px 24px;
	border-radius: 32px;
}

.btn-light {
	background: white;
	color: #000;
}

.btn-light:hover {
	background: rgb(241, 235, 139);
	color: #000;
}

.btn-dark {
	background: #000;
	color: white;
}

.btn-dark:hover {
	background: rgb(226, 216, 72);
	color: white;
}

/* page 只有這個頁面會出現的元素 */
.banner {
	background: #000;
	color: #FFFFFF;
}

.banner-padding {
	padding: 72px 32px 0px 0px;
}

.banner-title-strong {
	display: block;
	text-align: right;
}

.intro {
	background-image: url(images/background-img.png);
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	padding: 160px 0;
}

.intro-desc {
	width: 526px;
}

.about {
	padding: 160px 0;
}

.about-list {
	width: 636px;
	flex-wrap: wrap;
	gap: 24px;
}

.about-list li {
	width: calc(50% - 12px);
	box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.08);
	padding: 16px;
}

.about-desc {
	width: 526px;
}

.contact {
	background: linear-gradient(rgba(5, 0, 20, 1), rgba(1, 2, 30, 0.89));
	;
	padding: 96px 0;
}

.social-link {
	border-radius: 40px;
	transition: 1s;
}

.social-link:hover {
	box-shadow: 0px 0px 16px 3px rgba(144, 148, 255, 0.9);
}

.project {
	padding: 160px 0;
}

.project-title {
	width: 746px;
	margin-left: auto;
}